body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------- Navbar -------------------------  */

nav {
  background-color: rgb(34, 34, 34, 0.95);
  position: sticky;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  color: yellow;
}

li {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-size: 40px;
  color: yellow;
}

.dash {
  color: aqua;
  font-family: 'Pacifico', cursive;
  letter-spacing: 1.5px;
}

.two {
  font-size: 3em;
  font-weight: bolder;
}
/* ------------------------ Home Page ------------------------ */

.home-page {
  background: rgba(0, 0, 0, 0.7);
}

.search-city {
  width: 50vw;
  max-width: 800px;
  background: rgba(46, 46, 46, 1);
  border: solid 1px rgb(12, 12, 12);
  color: white;
}
.background {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: fixed;
  background-repeat: no-repeat;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  top: 20%;
  margin: auto;
}
.trip {
  color: yellow;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

.entry {
  position: absolute;
  top: 20%;
  justify-content: center;
  align-items: center;
}

.back {
  width: 100%;
  height: 100vh;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  color: aqua;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}
/* ------------------ City Weather Show Page ------------------ */

.show-city-page {
  margin-left: auto;
  margin-right: auto;
}

.show-city-div {
  background: rgba(0, 0, 0, 0.8);
}

.top-div {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.info-div {
  width: 90vw;
  max-width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.show-city-div img {
  max-width: 100px;
}

.add-button {
  margin-right: auto !important;
}

.show-title {
  color: yellow;
  font-weight: bold;
  font-family: 'Alfa Slab One', cursive;
}

.city-text {
  font-size: 3em;
}

.head {
  color: yellow;
  font-family: 'Alfa Slab One', cursive;
}
.red,
.blue,
.purple,
.red-light,
.green {
  font-family: 'Alfa Slab One', cursive;
}

.red-light {
  color: lightcoral;
}
.red {
  color: red;
}
.blue {
  color: aqua;
}
.green {
  color: lightgreen;
}
.purple {
  color: rgb(217, 48, 217);
}
/* .weather-icon {

} */

/* ------------------------ Dashboard  ------------------------ */

.intro2 {
  color: yellow;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

.rowe {
  font-family: 'Alfa Slab One', cursive;
  color: aqua;
}

.city-card {
  max-width: 900px;
  margin: auto;
}

.title-bg {
  background: rgba(9, 1, 56, 0.95);
  max-width: 900px;
}

/* ------------------------- EDIT PAGE --------------------------- */


.city-details {
  position: absolute;
  top: 20%;
}

.edit-box {
  position: absolute;
  text-align: center;
  width: 550px;

  background-color: black;
  border-radius: 10px;
}
.edit-box h1 {
  color: rgb(223, 97, 118);
  font-family: 'Alfa Slab One', cursive;
  padding-top: 10px;
}
.edit-box h2 {
  color: rgb(61, 186, 243);
  font-family: 'Alfa Slab One', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}
.edit-box h3 {
  color: rgb(148, 82, 210);
  font-family: 'Pacifico', cursive;
  padding-top: 10px;
  padding-bottom: 15px;
}

.edit-box textarea {
  margin-top: 30px;
  border-radius: 10px;
}
.edit-box input {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; 
}

@media (max-width: 800px) {
  .info-card { 
    display: flex !important;
    flex-direction: column !important; 
    align-items: center;
  }

  .button-card { 
    display: flex;
    align-items: center;
  }
  .input-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-div {
    display: flex;
    flex-direction: column;
  }
  .button-div {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 650px) {
  .edit-box {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .city-details-title {
    flex-direction: column;
    margin: 0px !important;
  }

  .show-city-div {
    font-size: 0.8rem;
    margin: 0px !important;
    margin-top: 10px !important;
  }

  .show-city-div img, h2 {
    margin-left: auto;
    margin-right: auto;
  }

  .info-button-container {
    flex-direction: column !important;
    align-items: center;
    margin-top: 30px;
    width: 100vw !important;
  }

  .add-button {
    margin-top: 30px;
    margin-left: auto !important;
    margin-right: auto !important
  }

}

@media (max-width: 500px) {
  .city-card {
    min-width: 300px;
  }
  .button-card {
    display: flex;
    flex-direction: column;
  }
  .card-contain {
    margin: 2px;
  }
  .hp-desc {
    width: 100% !important;
  }
  
}